<div class="col-xs-12">
    <form ng-model="nm" class="form-horizontal" novalidate>
        <div class="form-group">
            <h2>Name</h2>
            <input type="text" class="form-control" ng-model="nm.id" name="uName" required="" />
            <br />
            <div ng-show="form.$submitted || form.uName.$touched">
                <div ng-show="form.uName.$error.required">Tell us your name.</div>
            </div>

            Height:
            <input type="number" name="uHeight" class="form-control" ng-model="nm.height" required="" />
            <br />
            <div ng-show="form.uHeight.submitted || form.uName.$touched">
                <div ng-show=form.uName.$error.required">Tell us your height.</div>
            </div>
        </div>

        <input ng-click="addUsers()" type="submit" class="btn btn-primary"/>

    </form>

    <button ng-click="loadUsers()" class="btn btn-primary">Load Users</button>
    <pre>nm = {{ nm }}</pre>
    <pre>users = {{users | json}}</pre>
    <pre>data = {{ data | json }}</pre>
</div>